<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
   
    <httpRuntime maxRequestLength="2147483600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 100 MB in bytes -->
        <requestLimits maxAllowedContentLength="4294967200" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
