/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.li-rounded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.ul-slyleless {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rounded-button {
  background: red;
  border-radius: 100%;
  color: #fff;
  border: none;
}
